body
{
  padding: 30px;
  background-color: #F2D7EE;
}

.inscription-connexion {
  width: 15em;
  border: 1px solid #333;
  box-shadow: 8px 8px 5px #444;
  padding: 8px 12px;
  background-color: #D3BCC0;
}

.posts {
  margin: 0 auto;
  width: 50em; 
  border: 1px solid #333;
}

.post {
  height: 15em;
  border: 1px solid #333;
  background-color: #A5668B;
}

.topics {
  width: 50em; 
  border: 1px solid #333;
}

.topic {
  border: 1px solid #333;
  background-color: #69306D;
}

.topic a{
  color: #F2D7EE
}

.topic-title {
  margin: 0 auto;
  width: 50em; 
  text-align: center;
}

.auteur_post {
  position: relative;
  top: -25px
}

.date_post {
  position: relative;
  top: -55px
}